.mycols{
    border: 3px solid red;
}
.myrows{
    border: 3px solid green;
    padding: 5px;
}
.mycontainer{
    background-color: aqua;
}
#topHeader{
    
    border-bottom: 1px solid #eBeBeB;

}
#topHeader a{
    color: #2c3e50;
    font-weight: 600;
    font-size: 0.89rem;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
nav ul li a {
    font-size: 1.1 rem;
    font-weight: 600;
}
/*Footer start*/
.full-footer{
    background-color:  #2c3e50;
    /* position: absolute;
    bottom: 0;*/
    width:100%; 
}
.top-footer  p{
    color:white
}
.top-footer  a{
    color:white;
    font-weight:600
}
.top-footer  h3{
    color:white
}
.bottom-footer  {
    background-color: #031b2e;
    color:white
}

/* 
Body Section Style 
*/
/*Section 1*/
.top-hero-class{
background-color: #3498db;
color:white
}
.top-hero-class a{
   font-weight: 600;
    color:white
}
.qualities-img{
    width:200px;
}
/*section 2*/

.requirement-section{
background-color: #004d80;
color:white;
}
/*section 4*/
.newsletter{
background-color: #004d80;
color:white;
}

.newsletter .form-control{
    height: 50px;
    border-color: transparent;
    border-radius: 20px 0 0 20px;
    }
.newsletter .btn {
    background-color: #243c4f;
    min-height: 50px;
    border-radius:  0 20px 20px 0;
    color:white;
    }

/* section 7*/
.client-section{
    background-color: #f0f0f0;
}

/*Home End*/
/* About us*/
.breadcrumbs-section{
    background-color: #e9ecef;
}
/*contact us*/
.address p{
    font-weight: 600;
}

/*End*/